---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Nosotros" description="Con más de 15 años de experiencia en estructuras metálicas, nuestra empresa ofrece seguridad y confianza en cada uno de nuestros entregables a nivel nacional. Descubre soluciones metálicas de alta calidad para tus proyectos.">
    <NavBar/>
    <section class="relative bg-black">
        <img src="/images/cta.png" alt="Breadcrumb Image" class="w-full h-60 object-cover opacity-25" />
        <div class="absolute inset-0 flex items-center justify-center">
            <div class="bg-white bg-opacity-85 p-4 rounded-lg shadow-lg">
                <nav class="flex space-x-4 text-gray-600">
                    <a href="/" class="hover:text-green-600">Inicio</a>
                    <span>/</span>
                    <a class="hover:text-green-600">Nosotros</a>
                </nav>
            </div>
        </div>
    </section>
    <section class="py-16 bg-gradient-to-b from-white to-gray-300">
        <div class="max-w-7xl mx-auto text-center px-4 lg:px-8">
            <h2 class="text-5xl text-green-900 font-bold mb-6">Nosotros</h2>
            <p class="mb-12 text-gray-700 leading-relaxed text-lg">
                Somos una empresa comprometida con la excelencia en la prestación de servicios, integrando innovación, calidad y una firme orientación hacia la satisfacción del cliente.
            </p>
            <div class="flex flex-col lg:flex-row justify-center space-y-12 lg:space-y-0 lg:space-x-12">
                <div class="bg-white shadow-lg rounded-xl w-full lg:w-1/2 overflow-hidden transform transition-transform hover:scale-105 duration-300 hover:shadow-2xl">
                    <img src="/images/mision.png" alt="Misión" class="w-full h-60 object-cover rounded-t-xl" />
                    <div class="p-8">
                        <h3 class="text-3xl text-green-900 font-bold mb-3">Nuestra Misión</h3>
                        <p class="text-gray-700 leading-7 text-base">
                            Diseñar, fabricar y montar estructuras metálicas de alta calidad que brinden resistencia, estabilidad y seguridad a nuestros proyectos. Ofrecemos soluciones personalizadas trabajando con los más altos estándares de calidad y eficiencia.
                        </p>
                    </div>
                </div>
                <div class="bg-white shadow-lg rounded-xl w-full lg:w-1/2 overflow-hidden transform transition-transform hover:scale-105 duration-300 hover:shadow-2xl">
                    <img src="/images/vision.png" alt="Visión" class="w-full h-60 object-cover rounded-t-xl" />
                    <div class="p-8">
                        <h3 class="text-3xl text-green-900 font-bold mb-3">Nuestra Visión</h3>
                        <p class="text-gray-700 leading-7 text-base">
                            Ser reconocidos como líderes en soluciones de estructuras metálicas, destacando por nuestra innovación, calidad y seguridad, expandiendo nuestra presencia a nivel internacional, siempre enfocados en la satisfacción del cliente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gradient-to-b from-gray-100 to-gray-20 py-20">
        <div class="max-w-7xl mx-auto text-center px-4 lg:px-8">
            <h2 class="text-4xl font-extrabold mb-16 text-green-900">
                Nuestros Pilares
            </h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-12">
                <div class="relative bg-white p-10 border border-gray-200 rounded-2xl text-center shadow-xl overflow-hidden transform transition-transform hover:scale-105 hover:shadow-2xl">
                    <div class="absolute inset-0 bg-green-50 opacity-20 rounded-2xl"></div>
                    <div class="relative z-10">
                        <i class="fas fa-check-circle text-[#70d959] text-6xl mb-6 transition-transform duration-300 hover:scale-125"></i>
                        <h4 class="text-3xl font-semibold mb-4 text-green-900">Calidad</h4>
                        <p class="text-gray-700 leading-relaxed text-lg">
                            Nos comprometemos a ofrecer productos y servicios de la más alta calidad, superando las expectativas de nuestros clientes.
                        </p>
                    </div>
                </div>
                <div class="relative bg-white p-10 border border-gray-200 rounded-2xl text-center shadow-xl overflow-hidden transform transition-transform hover:scale-105 hover:shadow-2xl">
                    <div class="absolute inset-0 bg-green-100 opacity-20 rounded-2xl"></div>
                    <div class="relative z-10">
                        <i class="fas fa-lightbulb text-[#70d959] text-6xl mb-6 transition-transform duration-300 hover:scale-125"></i>
                        <h4 class="text-3xl font-semibold mb-4 text-green-900">Innovación</h4>
                        <p class="text-gray-700 leading-relaxed text-lg">
                            Exploramos continuamente nuevas ideas y soluciones para mejorar nuestros productos y procesos.
                        </p>
                    </div>
                </div>
                <div class="relative bg-white p-10 border border-gray-200 rounded-2xl text-center shadow-xl overflow-hidden transform transition-transform hover:scale-105 hover:shadow-2xl">
                    <div class="absolute inset-0 bg-green-100 opacity-20 rounded-2xl"></div>
                    <div class="relative z-10">
                        <i class="fas fa-handshake text-[#70d959] text-6xl mb-6 transition-transform duration-300 hover:scale-125"></i>
                        <h4 class="text-3xl font-semibold mb-4 text-green-900">Compromiso</h4>
                        <p class="text-gray-700 leading-relaxed text-lg">
                            Nos comprometemos con el éxito de nuestros clientes, trabajando de la mano para alcanzar sus metas.
                        </p>
                    </div>
                </div>
                <div class="relative bg-white p-10 border border-gray-200 rounded-2xl text-center shadow-xl overflow-hidden transform transition-transform hover:scale-105 hover:shadow-2xl">
                    <div class="absolute inset-0 bg-green-100 opacity-20 rounded-2xl"></div>
                    <div class="relative z-10">
                        <i class="fas fa-leaf text-[#70d959] text-6xl mb-6 transition-transform duration-300 hover:scale-125"></i>
                        <h4 class="text-3xl font-semibold mb-4 text-green-900">Sostenibilidad</h4>
                        <p class="text-gray-700 leading-relaxed text-lg">
                            Promovemos prácticas sostenibles que benefician al medio ambiente y nuestras comunidades.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray-50 py-12">
        <div class="max-w-7xl mx-auto px-4">
            <h2 class="text-4xl font-bold text-center mb-12 text-green-800">
                Marcas <br> que confían en nosotros
            </h2>
            <div class="relative">
                <div class="slider overflow-hidden">
                    <div class="slider-track flex transition-transform duration-500 ease-in-out">
                        <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                            <img src="/images/clientes/oca-global.png" alt="Oca Global" class="mx-auto h-35">
                        </div>
                        <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                            <img src="/images/clientes/carso.png" alt="Carso" class="mx-auto h-35">
                        </div>
                        <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                            <img src="/images/clientes/peru-vac.png" alt="Perú Vac" class="mx-auto h-35">
                        </div>
                        <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                            <img src="/images/clientes/nautilus.png" alt="Nautilus" class="mx-auto h-35">
                        </div>
                        <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                            <img src="/images/clientes/yofc.png" alt="Yofc" class="mx-auto h-35">
                        </div>
                        <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                            <img src="/images/clientes/maquinarias-michel.png" alt="Maquinarias Michel" class="mx-auto h-35">
                        </div>
                        <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                            <img src="/images/clientes/san-miguel.png" alt="San Miguel" class="mx-auto h-35">
                        </div>
                        <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                            <img src="/images/clientes/dominion.png" alt="Dominion" class="mx-auto h-35">
                        </div>
                        <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                            <img src="/images/clientes/vision-motors.png" alt="Vision Motors" class="mx-auto h-35">
                        </div>
                    </div>
                </div>
                <button id="prev" class="text-green-800 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 transition absolute top-1/2 left-0 transform -translate-y-1/2 -translate-x-1/2">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button id="next" class="text-green-800 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 transition absolute top-1/2 right-0 transform -translate-y-1/2 translate-x-1/2">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </section>
</Layout>
<script>
    let sliderTrack = document.querySelector('.slider-track') as HTMLElement;
    const prevButton = document.getElementById('prev');
    const nextButton = document.getElementById('next');

    let currentIndex = 0;
    let itemsVisible = 1;
    const totalItems = document.querySelectorAll('.slider-track > div').length;

    function updateSlider() {
        const slideWidth = 100 / itemsVisible;
        const newTransformValue = -(currentIndex * slideWidth);
        sliderTrack.style.transform = `translateX(${newTransformValue}%)`;
    }

    function adjustItemsVisible() {
        if (window.innerWidth >= 1024) {
            itemsVisible = 5;
        } else if (window.innerWidth >= 768) {
            itemsVisible = 4;
        } else {
            itemsVisible = 1;
        }
    }

    nextButton.addEventListener('click', () => {
        if (currentIndex < totalItems - itemsVisible) {
            currentIndex++;
        } else {
            currentIndex = 0;
        }
        updateSlider();
    });

    prevButton.addEventListener('click', () => {
        if (currentIndex > 0) {
            currentIndex--;
        } else {
            currentIndex = totalItems - itemsVisible;
        }
        updateSlider();
    });

    window.addEventListener('resize', adjustItemsVisible);
    adjustItemsVisible();

    let autoPlayInterval;
    function startAutoPlay() {
        autoPlayInterval = setInterval(() => {
            if (currentIndex < totalItems - itemsVisible) {
                currentIndex++;
            } else {
                currentIndex = 0;
            }
            updateSlider();
        }, 3000);
    }

    function stopAutoPlay() {
        clearInterval(autoPlayInterval);
    }

    startAutoPlay();

    nextButton.addEventListener('mouseenter', stopAutoPlay);
    prevButton.addEventListener('mouseenter', stopAutoPlay);
    nextButton.addEventListener('mouseleave', startAutoPlay);
    prevButton.addEventListener('mouseleave', startAutoPlay);

    sliderTrack.addEventListener('mouseenter', stopAutoPlay);
    sliderTrack.addEventListener('mouseleave', startAutoPlay);
</script>