---
const brands = [
    { name: "Oca Global", image: "/images/clientes/oca-global.webp" },
    { name: "Carso", image: "/images/clientes/carso.webp" },
    { name: "Perú Vac", image: "/images/clientes/peru-vac.webp" },
    { name: "Nautilus", image: "/images/clientes/nautilus.webp" },
    { name: "Yofc", image: "/images/clientes/yofc.webp" },
    { name: "Maquinarias Michel", image: "/images/clientes/maquinarias-michel.webp" },
    { name: "San Miguel", image: "/images/clientes/san-miguel.webp" },
    { name: "Dominion", image: "/images/clientes/dominion.webp" },
    { name: "Vision Motors", image: "/images/clientes/vision-motors.webp" },
    { name: "Triton", image: "/images/clientes/triton.webp" }
]
---
<section class="py-16 bg-gradient-to-b from-white to-gray-200">
    <div class="max-w-7xl mx-auto text-center px-4 lg:px-8">
        <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-6 text-green-900 leading-tight">
            Nosotros
        </h2>
        <p class="mb-12 text-base sm:text-lg md:text-xl text-gray-600 max-w-2xl mx-auto leading-relaxed sm:px-6 lg:px-0">
            Somos una empresa comprometida con la excelencia en la prestación de servicios, integrando innovación, calidad y una firme orientación hacia la satisfacción del cliente.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 lg:grid-cols-2 lg:gap-12">
            <div class="bg-white shadow-lg rounded-xl overflow-hidden transform transition-transform hover:scale-105 duration-150 hover:shadow-1xl border-2 border-gray-200 mb-8">
                <img src="/images/mision.webp" alt="Misión Estructura Metálica Ato & Peña" class="w-full h-60 object-cover" />
                <div class="p-8">
                    <h3 class="text-2xl md:text-3xl text-green-900 font-bold mb-4">Nuestra Misión</h3>
                    <p class="text-gray-700 leading-relaxed text-base md:text-lg">
                        Diseñar, fabricar y montar estructuras metálicas de alta calidad que brinden resistencia, estabilidad y seguridad a nuestros proyectos. Ofrecemos soluciones personalizadas trabajando con los más altos estándares de calidad y eficiencia.
                    </p>
                </div>
            </div>
            <div class="bg-white shadow-lg rounded-xl overflow-hidden transform transition-transform hover:scale-105 duration-150 hover:shadow-1xl border-2 border-gray-200 mb-8">
                <img src="/images/vision.webp" alt="Visión Estructura Metálica Ato & Peña" class="w-full h-60 object-cover" />
                <div class="p-8">
                    <h3 class="text-2xl md:text-3xl text-green-900 font-bold mb-4">Nuestra Visión</h3>
                    <p class="text-gray-700 leading-relaxed text-base md:text-lg">
                        Ser reconocidos como líderes en soluciones de estructuras metálicas, destacando por nuestra innovación, calidad y seguridad, expandiendo nuestra presencia a nivel internacional, siempre enfocados en la satisfacción del cliente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-gradient-to-b from-gray-100 to-gray-20 py-20">
    <div class="max-w-7xl mx-auto text-center px-4 lg:px-8">
        <h2 class="text-4xl font-extrabold mb-16 text-green-900">
            Nuestros Pilares
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-6 lg:grid-cols-2 gap-12">
            <div class="relative bg-white p-10 border border-gray-200 rounded-2xl text-center shadow-xl overflow-hidden transform transition-transform hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 bg-green-50 opacity-20 rounded-2xl"></div>
                <div class="relative z-10">
                    <i class="fas fa-check-circle text-primary text-6xl mb-6 transition-transform duration-300 hover:scale-125"></i>
                    <h4 class="text-3xl font-semibold mb-4 text-green-900">Calidad</h4>
                    <p class="text-gray-700 leading-relaxed text-lg">
                        Nos comprometemos a ofrecer productos y servicios de la más alta calidad, superando las expectativas de nuestros clientes.
                    </p>
                </div>
            </div>
            <div class="relative bg-white p-10 border border-gray-200 rounded-2xl text-center shadow-xl overflow-hidden transform transition-transform hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 bg-green-100 opacity-20 rounded-2xl"></div>
                <div class="relative z-10">
                    <i class="fas fa-lightbulb text-primary text-6xl mb-6 transition-transform duration-300 hover:scale-125"></i>
                    <h4 class="text-3xl font-semibold mb-4 text-green-900">Innovación</h4>
                    <p class="text-gray-700 leading-relaxed text-lg">
                        Exploramos continuamente nuevas ideas y soluciones para mejorar nuestros productos y procesos.
                    </p>
                </div>
            </div>
            <div class="relative bg-white p-10 border border-gray-200 rounded-2xl text-center shadow-xl overflow-hidden transform transition-transform hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 bg-green-100 opacity-20 rounded-2xl"></div>
                <div class="relative z-10">
                    <i class="fas fa-handshake text-primary text-6xl mb-6 transition-transform duration-300 hover:scale-125"></i>
                    <h4 class="text-3xl font-semibold mb-4 text-green-900">Compromiso</h4>
                    <p class="text-gray-700 leading-relaxed text-lg">
                        Nos comprometemos con el éxito de nuestros clientes, trabajando de la mano para alcanzar sus metas.
                    </p>
                </div>
            </div>
            <div class="relative bg-white p-10 border border-gray-200 rounded-2xl text-center shadow-xl overflow-hidden transform transition-transform hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 bg-green-100 opacity-20 rounded-2xl"></div>
                <div class="relative z-10">
                    <i class="fas fa-leaf text-primary text-6xl mb-6 transition-transform duration-300 hover:scale-125"></i>
                    <h4 class="text-3xl font-semibold mb-4 text-green-900">Sostenibilidad</h4>
                    <p class="text-gray-700 leading-relaxed text-lg">
                        Promovemos prácticas sostenibles que benefician al medio ambiente y nuestras comunidades.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-50 py-12">
    <div class="max-w-7xl mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-12 text-green-800">
            <span class="block">Marcas</span>
            <span class="block">que confían en nosotros</span>
        </h2>
        <div class="relative">
            <div class="slider overflow-hidden">
                <div class="slider-track flex transition-transform duration-500 ease-in-out">
                    {
                        brands.map((brand) => (
                            <div class="flex-none w-full md:w-1/4 lg:w-1/5 p-4">
                                <img src={brand.image} alt={brand.name} class="mx-auto h-35" />
                            </div>
                        ))
                    }
                </div>
            </div>
            <button id="prev" class="text-white bg-primary p-2 rounded-full hover:bg-secondary transition-all duration-150 absolute top-1/2 left-0 transform -translate-y-1/2 -translate-x-1/2">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button id="next" class="text-white bg-primary p-2 rounded-full hover:bg-secondary transition-all duration-150 absolute top-1/2 right-0 transform -translate-y-1/2 translate-x-1/2">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
</section>

<script src="/scripts/slidertrack.js" defer></script>