<footer class="bg-black text-white py-12">
    <div class="max-w-7xl mx-auto px-6 lg:px-12">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-8">
            <div class="text-center md:text-left mb-8 md:mb-0">
                <h3 class="text-lg text-primary font-semibold mb-4">
                    Información de Contacto
                </h3>
                <p class="mb-1">
                    <strong>Teléfono:</strong><br>
                    <a href="tel:+51995374449" class="hover:text-primary">
                        (+51) 995 374 449
                    </a>
                </p>
                <p class="mb-1">
                    <strong>Correo Electrónico:</strong><br>
                    <a href="mailto:ventas@estructurametalicaato.com" class="hover:text-primary break-all">
                        ventas@estructurametalicaato.com
                    </a>
                </p>
                <p class="mb-1">
                    <strong>Dirección:</strong><br>
                    <a href="https://maps.app.goo.gl/1L4wnxihhMwfUCAu6" class="hover:text-primary" target="_blank">
                        Jr. Vizcardo y Guzman 448, <br> San Martín de Porres.
                    </a>
                </p>
                <p>
                    <strong>Horario:</strong><br>
                    Lunes a Sábado: 8:00 AM - 7:00 PM
                </p>
            </div>
            <div class="text-center md:text-left mb-8 md:mb-0">
                <h3 class="text-lg text-primary font-semibold mb-4">
                    Enlaces Rápidos
                </h3>
                <ul class="space-y-2">
                    <li>
                        <a href="/" class="hover:text-primary transition">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="/nosotros" class="hover:text-primary transition">
                            Sobre Nosotros
                        </a>
                    </li>
                    <li>
                        <a href="/productos" class="hover:text-primary transition">
                            Productos
                        </a>
                    </li>
                    <li>
                        <a href="/servicios" class="hover:text-primary transition">
                            Servicios
                        </a>
                    </li>
                    <li>
                        <a href="/contactenos" class="hover:text-primary transition">
                            Contáctenos
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center md:text-left mb-8 md:mb-0">
                <h3 class="text-lg text-primary font-semibold mb-4">
                    Suscríbete a Nuestro Boletín
                </h3>
                <p class="mb-4">
                    Recibe actualizaciones y ofertas en tu correo.
                </p>
                <form action="#" method="POST">
                    <input type="email" placeholder="Correo electrónico" class="border border-primary rounded-lg p-2 w-full mb-4" required />
                    <button type="submit" class="bg-gradient-to-l from-primary to-secondary text-white py-2 px-4 rounded-lg hover:bg-gradient-to-r hover:from-green-700 hover:to-green-900 transition">
                        Suscribirse
                    </button>
                </form>
            </div>
            <div class="text-center md:text-left">
                <h3 class="text-lg text-primary font-semibold mb-4">
                    Síguenos
                </h3>
                <div class="flex justify-center md:justify-start space-x-4">
                    <a href="https://www.facebook.com/estructurametalicaato/" class="hover:text-primary transition" target="_blank">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://www.tiktok.com/@estructurametalicaato" class="hover:text-primary transition" target="_blank">
                        <i class="fab fa-tiktok fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/estructura-metalica-ato-pe%C3%B1a-eirl-6b5727318/?originalSubdomain=pe" class="hover:text-primary transition" target="_blank">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com/estructurametalicaato/" class="hover:text-primary transition" target="_blank">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCtYE-G2eX4mhoZJhUExGT7Q" class="hover:text-primary transition" target="_blank">
                        <i class="fab fa-youtube fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="border-t border-gray-700 pt-6">
            <p class="text-center text-sm">
                &copy; 2024 Estructura Metálica Ato & Peña - Todos los derechos reservados.
            </p>
            <p class="text-center text-sm">
                RUC: 20609816342
            </p>
        </div>
    </div>
</footer>