<section class="bg-gray-50 py-24">
    <div class="container mx-auto px-6 lg:px-12">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-extrabold text-green-900 leading-tight mb-4">
                ¿Buscas Montaje de Estructura Metálica para tu Negocio?
            </h2>
            <p class="text-xl text-gray-600 max-w-4xl mx-auto">
                Somos expertos en la fabricación de estructuras metálicas de alta calidad, diseñadas para brindar resistencia, durabilidad y estabilidad.
                <br>
                ¡Permítenos ayudarte a construir lo que necesitas!
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 text-center">
            <div class="group floating p-8 bg-white shadow-lg rounded-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300">
                <div class="mb-6">
                    <img src="/images/rigida.png" alt="Estructura Rígida" class="mx-auto w-16 h-16 transition-transform duration-300 group-hover:rotate-6">
                </div>
                <h3 class="text-2xl font-semibold text-green-900 mb-4 group-hover:text-green-950 transition-colors duration-300">
                    Estructura Rígida
                </h3>
                <p class="text-gray-500">
                    Cargas correctamente distribuidas <br> para evitar deformaciones.
                </p>
            </div>
            <div class="group floating p-8 bg-white shadow-lg rounded-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300">
                <div class="mb-6">
                    <img src="/images/resistencia.png" alt="Alta Resistencia" class="mx-auto w-16 h-16 transition-transform duration-300 group-hover:rotate-6">
                </div>
                <h3 class="text-2xl font-semibold text-green-900 mb-4 group-hover:text-green-950 transition-colors duration-300">
                    Alta Resistencia
                </h3>
                <p class="text-gray-500">
                    Nuestro material <br> soporta las fuerzas más exigentes.
                </p>
            </div>
            <div class="group floating p-8 bg-white shadow-lg rounded-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300">
                <div class="mb-6">
                    <img src="/images/estabilidad.png" alt="Estabilidad" class="mx-auto w-16 h-16 transition-transform duration-300 group-hover:rotate-6">
                </div>
                <h3 class="text-2xl font-semibold text-green-900 mb-4 group-hover:text-green-950 transition-colors duration-300">
                    Estabilidad
                </h3>
                <p class="text-gray-500">
                    Estructura estable <br> sin peligro de desplome.
                </p>
            </div>
            <div class="group floating p-8 bg-white shadow-lg rounded-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300">
                <div class="mb-6">
                    <img src="/images/uniformidad.png" alt="Uniformidad" class="mx-auto w-16 h-16 transition-transform duration-300 group-hover:rotate-6">
                </div>
                <h3 class="text-2xl font-semibold text-green-900 mb-4 group-hover:text-green-950 transition-colors duration-300">
                    Uniformidad
                </h3>
                <p class="text-gray-500">
                    Sin cambios <br> de uniformidad en toda la estructura.
                </p>
            </div>
            <div class="group floating p-8 bg-white shadow-lg rounded-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300">
                <div class="mb-6">
                    <img src="/images/durabilidad.png" alt="Durabilidad" class="mx-auto w-16 h-16 transition-transform duration-300 group-hover:rotate-6">
                </div>
                <h3 class="text-2xl font-semibold text-green-900 mb-4 group-hover:text-green-950 transition-colors duration-300">
                    Durabilidad
                </h3>
                <p class="text-gray-500">
                    Diseñadas <br> para perdurar con el tiempo.
                </p>
            </div>
            <div class="group floating p-8 bg-white shadow-lg rounded-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300">
                <div class="mb-6">
                    <img src="/images/migmag.png" alt="Soldadura MIG" class="mx-auto w-16 h-16 transition-transform duration-300 group-hover:rotate-6">
                </div>
                <h3 class="text-2xl font-semibold text-green-900 mb-4 group-hover:text-green-950 transition-colors duration-300">
                    Soldadura MIG
                </h3>
                <p class="text-gray-500">
                    Alta productividad <br> y precisión en la soldadura.
                </p>
            </div>
        </div>
        <div class="mt-16 text-center">
            <a href="https://wa.me/+51995374449?text=Hola%20*Estructura%20Metálica%20Ato%20y%20Peña*,%20necesito%20más%20información%20sobre%20tus%20productos%20y%20servicios."
            class="inline-flex items-center justify-center bg-gradient-to-l from-primary to-secondary text-white text-lg font-semibold py-4 px-10
            rounded-full shadow-lg transition-transform duration-150 ease-in-out hover:text-black hover:shadow-xl hover:scale-105
            transform active:scale-95 active:translate-y-1" target="_blank">
                Cotiza Ahora
                <i class="fab fa-whatsapp ml-2"></i>
            </a>
        </div>
    </div>
</section>