<section class="bg-white">
    <div class="w-full h-96 rounded-lg overflow-hidden">
        <iframe class="w-full h-full" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15610.204705179101!2d-77.0901042!3d-12.0055272!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf7544ddeaef%3A0xb819d1eb27df07f3!2sEstructura%20Met%C3%A1lica%20Ato%20%26%20Pe%C3%B1a!5e0!3m2!1ses!2spe!4v1727418377604!5m2!1ses!2spe" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>