<section id="counter-section" class="bg-gradient-to-b from-gray-100 to-gray-300 py-12">
    <div class="container mx-auto px-4 md:px-8 lg:px-4">
        <h2 class="text-4xl font-bold text-center py-8 text-green-900">
            Fortalezas de Nuestro Equipo Especializado
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 md:gap-8 gap-12">
            <div class="bg-white shadow-xl text-green-900 rounded-lg p-8 text-center transform transition-transform duration-700 ease-in-out hover:scale-105 hover:shadow-2xl">
                <div class="relative inline-block">
                    <i class="fas fa-users text-6xl bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"></i>
                </div>
                <h3 class="text-5xl font-bold mb-4" id="count1">0</h3>
                <p class="text-gray-600 leading-relaxed">
                    Amplia cartera <br> de clientes satisfechos
                </p>
            </div>
            <div class="bg-white shadow-xl text-green-900 rounded-lg p-8 text-center transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-2xl">
                <div class="relative inline-block">
                    <i class="fas fa-clock text-6xl bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"></i>
                </div>
                <h3 class="text-5xl font-bold mb-4" id="count2">0</h3>
                <p class="text-gray-600 leading-relaxed">
                    Años de <br> experiencia nos respaldan
                </p>
            </div>
            <div class="bg-white shadow-xl text-green-900 rounded-lg p-8 text-center transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-2xl">
                <div class="relative inline-block">
                    <i class="fas fa-check-circle text-6xl bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"></i>
                </div>
                <h3 class="text-5xl font-bold mb-4" id="count3">0</h3>
                <p class="text-gray-600 leading-relaxed">
                    Control de Calidad <br> en fabricación y producción
                </p>
            </div>
            <div class="bg-white shadow-xl text-green-900 rounded-lg p-8 text-center transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-2xl">
                <div class="relative inline-block">
                    <i class="fas fa-wrench text-6xl bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"></i>
                </div>
                <h3 class="text-5xl font-bold mb-4" id="count4">0</h3>
                <p class="text-gray-600 leading-relaxed">
                    Equipo especializado <br> en MIG/MAG
                </p>
            </div>
        </div>
    </div>
</section>