<section class="py-16 bg-gradient-to-b from-gray-100 to-gray-300">
    <div class="max-w-7xl mx-auto px-4 text-center">
        <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-6 text-green-900 leading-tight">
            Nuestros Servicios
        </h2>
        <p class="mb-12 text-base sm:text-lg md:text-xl text-gray-600 max-w-2xl mx-auto leading-relaxed sm:px-6 lg:px-0">
            Explora nuestros servicios personalizados, diseñados para ofrecerte soluciones innovadoras, con un enfoque en la calidad y satisfacción del cliente.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 lg:gap-8">
            <div class="bg-white rounded-xl shadow-lg overflow-hidden transform transition-transform duration-200 hover:scale-105">
                <img src="/images/mantenimiento-remolque.png" alt="Mantenimiento de Remolques" class="w-full h-48 sm:h-56 md:h-64 lg:h-72 xl:h-80 object-cover" />
                <div class="p-6 md:p-8">
                    <h3 class="text-lg sm:text-xl md:text-2xl font-bold text-green-900 mb-3">
                        Mantenimiento de <br class="hidden sm:block" /> remolques
                    </h3>
                    <p class="text-gray-600 mb-6 leading-relaxed text-sm sm:text-base">
                        Realizamos inspecciones periódicas, ajustes, reparaciones y reemplazo de piezas desgastadas, asegurando un rendimiento óptimo y prolongando la vida útil de tu equipo.
                    </p>
                    <a href="" data-service-name="Mantenimiento de remolques" class="inline-flex items-center bg-gradient-to-r from-primary to-secondary text-white py-2 px-4 sm:py-3 sm:px-6 rounded-lg hover:bg-green-950 transition duration-300 ease-in-out focus:outline-none whatsapp-button">
                        Descubre más
                        <i class="fab fa-whatsapp ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="bg-white rounded-xl shadow-lg overflow-hidden transform transition-transform duration-200 hover:scale-105">
                <img src="/images/instalacion-remolque.png" alt="Instalación de Sistemas de Remolques" class="w-full h-48 sm:h-56 md:h-64 lg:h-72 xl:h-80 object-cover" />
                <div class="p-6 md:p-8">
                    <h3 class="text-lg sm:text-xl md:text-2xl font-bold text-green-900 mb-3">
                        Instalación de <br class="hidden sm:block" /> Sistema de remolques
                    </h3>
                    <p class="text-gray-600 mb-6 leading-relaxed text-sm sm:text-base">
                        Nos aseguramos que cada componente sea instalado de manera segura y cumpla con las normativas, brindando la confianza de un remolque perfectamente funcional para desafíos.
                    </p>
                    <a href="" data-service-name="Instalación de Sistema de remolques" class="inline-flex items-center bg-gradient-to-r from-primary to-secondary text-white py-2 px-4 sm:py-3 sm:px-6 rounded-lg hover:bg-green-950 transition duration-300 ease-in-out focus:outline-none whatsapp-button">
                        Descubre más
                        <i class="fab fa-whatsapp ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/scripts/whatsappservices.js" defer></script>
