<section class="hidden md:flex bg-gradient-to-r from-primary to-green-700 text-white py-4">
    <div class="container mx-auto flex flex-col flex-wrap justify-between items-center text-center space-y-4 sm:space-y-0 mb-4">
        <div class="flex justify-center sm:justify-start items-center space-x-4 w-full sm:w-auto mb-2">
            <a href="https://www.facebook.com/estructurametalicaato/" class="hover:text-yellow-300 hover:scale-110 transition-transform duration-300" target="_blank">
                <i class="fab fa-facebook-f fa-lg"></i>
            </a>
            <a href="https://www.tiktok.com/@estructurametalicaato" class="hover:text-yellow-300 hover:scale-110 transition-transform duration-300" target="_blank">
                <i class="fab fa-tiktok fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/estructurametalicaato/" class="hover:text-yellow-300 hover:scale-110 transition-transform duration-300" target="_blank">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/in/estructura-metalica-ato-pe%C3%B1a-eirl-6b5727318/?originalSubdomain=pe" class="hover:text-yellow-300 hover:scale-110 transition-transform duration-300" target="_blank">
                <i class="fab fa-linkedin-in fa-lg"></i>
            </a>
        </div>
        <div class="flex flex-col sm:flex-row justify-center sm:justify-start items-center space-y-2 sm:space-y-0 sm:space-x-6 lg:mb-0 w-full sm:w-auto">
            <a href="mailto:ventas@estructurametalicaato.com" class="hover:text-yellow-300 hover:bg-green-800 hover:bg-opacity-20 py-2 px-3 rounded-lg transition-all duration-300 flex
            items-center space-x-2">
                <i class="fas fa-envelope"></i>
                <span class="text-sm sm:text-base">
                    ventas@estructurametalicaato.com
                </span>
            </a>
            <a href="tel:+51995374449" class="hover:text-yellow-300 hover:bg-green-800 hover:bg-opacity-20 py-2 px-3 rounded-lg transition-all duration-300 flex items-center space-x-2">
                <i class="fas fa-phone"></i>
                <span class="text-sm sm:text-base">
                    995374449 - 989403067 - 976732526
                </span>
            </a>
            <div class="hidden xl:flex items-center space-x-2">
                <i class="fas fa-clock"></i>
                <span class="text-sm sm:text-base">
                    Horario: LUN-SAB | 08:00AM - 07:00PM
                </span>
            </div>
        </div>
    </div>
</section>