---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;

import Loader from '../components/Loader.astro';
import '@fortawesome/fontawesome-free/css/all.min.css';
import Footer from '../components/Footer.astro';

const siteName = "Estructura Metálica Ato & Peña";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content="estructuras metálicas, experiencia en estructuras metálicas, seguridad en entregas, confianza en productos metálicos, empresa de estructuras metálicas, soluciones metálicas, proyectos de construcción, estructuras metálicas a nivel nacional">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | {siteName}</title>
	</head>
	<body class="bg-gray-100">
		<div id="loader" class="flex items-center justify-center">
			<Loader message="Cargando contenido..." />
		</div>
		<div id="content" class="hidden">
			<slot />
		</div>
	</body>
	<a href="https://wa.me/+51995374449?text=Hola%20*Estructura%20Metálica%20Ato%20y%20Peña*,%20estoy%20interesado%20en%20mayor%20información%20sobre%20tus%20productos%20y%20servicios." target="_blank" class="fixed bottom-6 right-6 bg-green-500 text-white rounded-full p-4 shadow-lg hover:bg-green-600 transition duration-300">
		<i class="fab fa-whatsapp fa-2x"></i>
	</a>
	<Footer/>
</html>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const loader = document.getElementById('loader');
		const content = document.getElementById('content');

		if (!sessionStorage.getItem('firstLoadDone')){
			loader.classList.remove('hidden');
			setTimeout(() => {
				loader.classList.add('hidden');
				content.classList.remove('hidden');
				sessionStorage.setItem('firstLoadDone', 'true');
			}, 2000);
		} else {
			loader.classList.add('hidden');
			content.classList.remove('hidden');
		}
	});
</script>